/*start font*/
import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*end font*/

/*start body*/
body {
    background-color: white;
    color:black;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 2px auto;
    padding: 10px auto;
}
/*end body*/

/*start debug*/
.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-yellow {
    background-color: yellow;
}

.bg-mustard {
    background-color: darkgoldenrod
}

.bg-blue {
    background-color: cyan
}
/*end debug*/

/*start container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*end container*/

/*start logo*/
.logo {
    text-align: center;
}
/*end logo*/

/*start menu primer*/
.menu-primer ul {
    background-color: grey ;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    }

.menu-primer li {
    border-right: 1px solid black;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a{
    color: black;
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: red;
    color: black;
    text-decoration-color: none;
}

.menu-primer .active {
    background-color: #f7f7f7;
    color: black;
    text-decoration: none;
}
/*end menu primer*/

/*start heading*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*end heading*/

/*start jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/*end jumbotron*/

/*start main*/
.main-home-one {
    float: left;
    width: 50%;
}

.main-home-two {
    float: right;
    width: 50%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
/*end main*/

/*start box*/
.box-heading {
    background-color: beige;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: brown;
    border: 1px solid wheat;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/*end box*/

/*start testimmonial*/
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: #f6f8fa;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}
/*end menu sekunder*/

/*start copyright*/
.copyright p {
    font-size: 15px;
}
/*end copyright*/

/*start effect*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1513 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  font-size: 16px;
  line-height: 1.2em;
}

.snip1513 *,
.snip1513 *:before,
.snip1513 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1513:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1513 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1513 .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snip1513 a {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.snip1513 a i {
  display: block;
  font-size: 23.52941176px;
  line-height: 40px;
  width: 40px;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}

.snip1513 a i:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.snip1513:hover:before,
.snip1513.hover:before {
  opacity: 0.5;
}

.snip1513:hover a,
.snip1513.hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snip1513:hover a:nth-child(2),
.snip1513.hover a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.snip1513:hover a:nth-child(3),
.snip1513.hover a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
?*End Effect*/
