/*start font*/ 
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*end font*/

/*start body*/
body {
    background-image: url("../images/bgg.jpg");
    color:black;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 2px auto;
    padding: 10px auto;
}
/*end body*/

/*start debug*/
.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-yellow {
    background-color: yellow;
}

.bg-mustard {
    background-color: darkgoldenrod
}

.bg-blue {
    background-color: cyan
}
/*end debug*/

/*start container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*end container*/

/*start logo*/
.logo {
    text-align: center;
}
/*end logo*/

/*start hyperlink*/
a:link,
a:visited {
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: black;
    text-decoration: none;
}
/*end hyperlink*/

/*start menu primer*/
.menu-primer ul {
    border-radius: 4px;
    }

.menu-primer li {
    border-right: 1px solid;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a{
    color: rgb(58, 49, 49);
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: white;
    color: black;
    text-decoration-color: none;
}

.menu-primer .active {
    background-color: #f7f7f7;
    color: black;
    text-decoration: none;
}
/*end menu primer*/

/*start heading*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*end heading*/

/*start jumbotron*/
.jumbotron {
    background-color: khaki;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
.jumbotron-left {
    float: left;
    width: 50%;
    margin: 0 0 0 250px;
}

.jumbotron-right {
    float: right;
    width: 50%;
    margin: -140px 200px 0 0;
}

/*end jumbotron*/

/*start main*/
.main-home-one {
    float: left;
    width: 50%;
}

.main-home-two {
    float: right;
    width: 50%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}

.main-one {
    float: left;
    overflow: auto;
    width: 70%;
}

.main-home-logo {
    float: left;
    width: 15%;
    margin: 100px 0 0 0;
}

.main-home-menu {
    float: right;
    width: 85%;
    margin: 100px 0 0 0;
}


/*end main*/

/*start sidebar*/
.sidebar-two {
    float: right;
    overflow: auto;
    width: 29%;
}

/*start box*/
.box-heading {
    background-color: khaki;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: white;
    border: 1px solid gray;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/*end box*/

/*start testimonial*/
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/*end testimonial*/

/*Start Produk Table*/
.produk-table {
    border: 1px solid blueviolet;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.produk-table th {
    background-color: #f6f8fa;
}

.produk-table td {
    text-align: center;
}
/*end produk-table*/

/*start form*/
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300;
}

input[type="submit"],
.button {
    background-color: aquamarine;
    background-image: linear-gradient(-180deg,#fafbfc
    , #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*end form*/

/*start contact form*/

/*end contact form*/
.contact-form div {
    margin: 20px 0;
}

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: khaki;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}
/*end menu sekunder*/

/*start copyright*/
.copyright p {
    font-size: 15px;
}
/*end copyright*/

/*start effect menu*/
.pengaturan-img {
    opacity: 0.8;
    width: 50%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

/*start effect*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);
figure.snip1416 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 100%;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
}
figure.snip1416 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1416 img {
  opacity: 0.8;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1416 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1416 figcaption > div {
  height: 50%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1416 h2,
figure.snip1416 h3 {
    text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  padding: 0 30px;
}

figure.snip1416 h2 {
  font-weight: 900;
  bottom: 0;
}

figure.snip1416 button {
    width: 200px;
    height: 50px;
    background: transparent;
    border-style: groove;
    border-radius: 50px;
}

figure.snip1416 button:hover {
    
    background: darkolivegreen;
    
}

figure.snip1416 h3 {
  font-size: 1em;
  top: 0;
  font-weight: 500;
}
figure.snip1416 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
figure.snip1416 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #ffffff;
  font-family: 'Khand', sans-serif;
font-size: 20px;
font-weight: 10px 
}
figure.snip1416:hover img,
figure.snip1416.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1416:hover figcaption h3:first-of-type,
figure.snip1416.hover figcaption h3:first-of-type {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  opacity: 0;
}
figure.snip1416:hover figcaption h3:nth-of-type(2),
figure.snip1416.hover figcaption h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}
/*end effect*/

.warna-putih {
    background: white;
    height: 210px;
    margin-top: -100px;
}

.judul{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px; 
    font-weight: 900;
}

.opening {
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    font-weight: 900;
}